.container{
    width: 100%;
    display: flex;
}
.left-container{
    display: flex;
    width: 30%;
    height: 100vh;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.right-container{
    display: flex;
    width: 70%;
}
.right-container img{
    width: 100%;
    object-fit:cover;
}
.logo{
    display: flex;
}
form{
    display: flex;
    flex-direction: column;
    width: 95%;
}
.email-input{
    width: 80%;
    height: 40px;
    margin: 10px;
    border-radius: 30px;
    border: 1px solid grey;
    padding-left: 15px;
}
.email-input::placeholder {
    font-size: 15px;
}
.password-input::placeholder {
    font-size: 15px;
}
.input-taking{
    width: 80%;
    height: 40px;
    margin: 10px;
    border-radius: 30px;
    border: 1px solid grey;
    padding-left: 15px;
}
.field{
    display: flex;
    justify-content: center;
    align-items: center;
}
.input-button{
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-button{
    height: 40px;
    width: 120px;
    margin: 20px;
    border:none;
    border-radius: 20px;
    padding: 10px;
    background-color: rgb(63, 136, 255);
    transition: ease-in-out 150ms;
}
.register-button{
    height: 40px;
    width: 120px;
    margin: 10px;
    border:none;
    border-radius: 20px;
    background-color: rgb(63, 136, 255);
    padding: 10px;
    transition: ease-in 150ms;
}
.register-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.login-button:hover{
    background-color: azure;
    cursor: pointer;
}
.register-button:hover{
    background-color: azure;
}
.login-button:active{
    background-color: rgb(75, 255, 255);
}
.register-button:active{
    background-color: rgb(75, 255, 255);
}

